<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>GuestBook</title>
</head>
<body>
  <nav class="blue darken-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">画像ギャラリー</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">top</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="section">
        <p>アップロードしました。</p>
        <p>
          <a href="/photos">画像ギャラリーへ戻る</a>
        </p>
    </div>
  </div>
</body>
</html>
